{% extends "layout.html" %}

{% block content %}
    <div class="recipe-details">
        <h2  class='recipe-header'>{{ recipe['RecipeName'] }}</h2>

        <img src="{{ recipe['image-url'] }}" alt="Image of {{ recipe['RecipeName'] }}" class='recipe-image'/>
        
        <h3>Ingredients:</h3>
        <ul>
            {% for ingredient in recipe['Ingredients'].split(',') %}
                <li>{{ ingredient.strip() }}</li>
            {% endfor %}
        </ul>

        <h3>Instructions:</h3>
        <ol>
            {% for step in recipe['Instructions'].split('.') %}
                {% if step.strip() %}
                    <li>{{ step.strip() }}</li>
                {% endif %}
            {% endfor %}
        </ol>
        <p>Cooking Time: {{ recipe.TotalTimeInMins }} minutes</p>
        <p>Cuisine: {{ recipe.Cuisine }}</p>
        
        <a style='float:right' href="{{ recipe.URL }}" target="_blank"><button >View Full Recipe</button></a>
        <a href="/"> <button>Back to Search</button></a>
    </div>
{% endblock %}
