{% extends "layout.html" %}

{% block content %}
    <div class="search-container">
        <form method="POST" action="/search">
            <input type="text" name="query" placeholder="Find...">
            <button type="submit">Search</button>
        </form>
    </div>

    <div class="results-container">
        {% if recipes %}
            <h2>Recipes you can make with <span class="orange-text">{{ searched_ingredients | join(' ') }}</span> are...</h2>
            <div class="recipe-grid">
                {% for recipe in recipes %}
                    <div class="recipe-card">
                        <h3><a class='recipe-title' href="{{ url_for('recipe', recipe_id=recipe['RecipeID']) }}">{{ recipe['RecipeName'] }}</a></h3> <!-- Use RecipeID instead of index -->
                        <p>Ingredients: {{ recipe['Ingredients'] }}</p>
                        <p>Cooking Time: {{ recipe['TotalTimeInMins'] }} minutes</p>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>No recipes found. Try searching for an ingredient.</p>
        {% endif %}
    </div>
{% endblock %}
